<html>
<head>
	<title>4 en línea</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div id="board">
  <div id="turn">yellow</div>
</div>

<div id="main">
	<h1>4 en línea</h1>

	<div id="turn">
		<h4>Turno actual: Amarillo</h4>
	</div>

	<div id="board">

	  <ul class="row">
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
			<li class="cell"></li>
			<li class="cell"></li>
			<li class="cell"></li>
			<li class="cell"></li>
	  </ul>
	  <ul class="row">
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
			<li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	  </ul>
		<ul class="row">
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
			<li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	  </ul>
		<ul class="row">
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
			<li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	  </ul>
		<ul class="row">
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
			<li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	  </ul>
		<ul class="row">
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
			<li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	  </ul>
		<ul class="row">
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
			<li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	  </ul>
		<ul class="row">
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
			<li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell red"></li>
	    <li class="cell yellow"></li>
	  </ul>
	</div>

	<form id="play" method="POST" action="move">
		<input type="text" id="col" name="col" value="0"/>
		<input type="submit" value="Jugar"/>
	</form>
</div>


<script type="text/javascript">
</script>
</body>
</html>
