<html>
<head>
	<title>4 en línea</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

<div id="main">
	<h1>4 en línea</h1>

	<div id="turn">
		<h4>Turno actual: Jugador 1</h4>
	</div>

	<div id="board">

	  <ul class="row">
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
			<li class="cell"></li>
			<li class="cell"></li>
			<li class="cell"></li>
			<li class="cell"></li>
	  </ul>
	  <ul class="row">
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
			<li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	  </ul>
		<ul class="row">
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
			<li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	  </ul>
		<ul class="row">
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
			<li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	  </ul>
		<ul class="row">
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
			<li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	  </ul>
		<ul class="row">
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
			<li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	  </ul>
		<ul class="row">
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
			<li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	  </ul>
		<ul class="row">
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
			<li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	    <li class="cell"></li>
	  </ul>

		<ul class="controls">
			<li>
				<form method="POST" action="move">
					<input type="hidden" id="col" name="col" value="0"/>
					<input type="submit" value="&uarr;"/>
				</form>
			</li>
			<li>
				<form method="POST" action="move">
					<input type="hidden" id="col" name="col" value="1"/>
					<input type="submit" value="&uarr;"/>
				</form>
			</li>
			<li>
				<form method="POST" action="move">
					<input type="hidden" id="col" name="col" value="2"/>
					<input type="submit" value="&uarr;"/>
				</form>
			</li>
			<li>
				<form method="POST" action="move">
					<input type="hidden" id="col" name="col" value="3"/>
					<input type="submit" value="&uarr;"/>
				</form>
			</li>
			<li>
				<form method="POST" action="move">
					<input type="hidden" id="col" name="col" value="4"/>
					<input type="submit" value="&uarr;"/>
				</form>
			</li>
			<li>
				<form method="POST" action="move">
					<input type="hidden" id="col" name="col" value="5"/>
					<input type="submit" value="&uarr;"/>
				</form>
			</li>
			<li>
				<form method="POST" action="move">
					<input type="hidden" id="col" name="col" value="6"/>
					<input type="submit" value="&uarr;"/>
				</form>
			</li>
			<li>
				<form method="POST" action="move">
					<input type="hidden" id="col" name="col" value="7"/>
					<input type="submit" value="&uarr;"/>
				</form>
			</li>
		</ul>
	</div>
</div>


<script type="text/javascript">
</script>
</body>
</html>
