body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(45deg, #000000 0%, #72140b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #000000 0%,#72140b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #000000 0%,#72140b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#72140b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: white;
}

#main{
  padding: 20px;
  text-align: center;
}

.yellow-turn{
  color: #e4c809;
}

.red-turn{
  color: #cd0b0b;
}

h1{
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
  margin: 0 0 20px 0;
  line-height: 50px;
}

h2{
  font-size: 30px;
  margin: 0 0 10px 0;
}

#board{
  margin-top: 30px;
  display: inline-block;
  padding: 8px;
  background-color: #1aa9e6;
  border-radius: 3px;
  position: relative;
}

#shadow_left{
  background-color: #0f658a;
  width: 20px;
  height: 380px;
  position: absolute;
  left: -20px;
  top: 20px;
}

#shadow_bottom{
  background-color: #073244;
  width: 380px;
  height: 20px;
  position: absolute;
  left: -20px;
  bottom: -20px;
}

.row{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cell{
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 3px 0;
  border: 1px solid #333;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  color: black;
  cursor: pointer;
}

.cell.yellow{
  background-color: #fce50f;
  color: #fce50f;
}

.cell.red{
  background-color: #d91408;
  color: #d91408;
}

.cell.preview{
  opacity: 0.8;
}

#play{
  margin-top: 300px;
}
